{% extends "base.html" %}

{% block title %}
Удалить {{ post.title }}
{% endblock title %}

{% block main %}
<div class="post_deleting">
    <div class="post_deleting__header">
        <h1 class="post_deleting__header-title">
            Удалить {{ post.title }}?
        </h1>
        <p class="post_deleting__header-description">
            Дорогой, {{ request.user.username }}, если вы удалите "{{ post.title }}", то никогда больше не сможете восстановить её
            посредством администрации и этого сайта в принципе. Другие люди, которые добавили эту историю себе
            в избранное или читают сейчас - потеряют к ней доступ. Вы уверены, что хотите продолжить? 
        </p>
    </div>

    <div class="post_deletng__form">
        <a href="{% url "specific_post" post.slug %}">Нет, не уверен</a>

        <form method="post" class="post_deleting__form-form">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Удалить">
        </form>
    </div>
</div>
{% endblock main %}