{% extends "base.html" %}

{% block title %}
Главная
{% endblock title %}

{% block html %}
{% load cache %}
{% endblock html %}

{% block main %}
<div class="main__stories">
        
    <h1 style="font-weight: 900; margin-botton: 30px;" class="shine-text">lit.fear</h1>
    
    {% if not request.user.is_authenticated %}
        <p>
            Рады, что вы попали на наш сайт: вы сможете прочитать множество страшных рассказов
            от нашего сообщества и администрации, а также написать свою! Чтобы взаимодействовать с сайтом,
            <a href="{% url "register" %}">зарегестрируйтесь</a> или <a href="{% url "login" %}">войдите</a> в аккаунт.
        </p>
    {% endif %}

    <div class="main__stories_new_stories">
        <div class="main__stories_new_stories-header">
            <div class="header__title">
                <h3>Новинки</h3>
            </div>
            
            <div style="text-align: end;width: 100%;" class="header__link">
                <a href="{% url "read" %}">Смотреть все →</a>
            </div>
        </div>
        
        <div class="main__stories_new_stories-stories row">
            {% cache 13 ms %}
            {% for story in stories %}
                <a 
                    href="{% url "specific_post" story.slug %}" 
                    class="main__stories_new_stories-story story col">
                    <img class="row" src="{{ story.get_cover }}" alt="Image here">

                    <div class="story__body row">
                        <h4 style="word-break: break-all;">{{ story.title }}</h4>
                        <p>{{ story.description|truncatechars:"30" }}</p>
                    </div>
                </a>
            {% endfor %}
            {% endcache %} 
        </div>
    </div>
    
    <div class="main__stories_news">
        <div 
            class="man__stories_news-header">
            
            <div class="header__title">
                <h3 style="display: block; width: 100%;">Новости</h3>
            </div>

            <div style="text-align: end;width: 100%;" class="header__link">
               <a href="{% url "blog" %}">Перейти в блог →</a>
            </div>
            
        </div>

        <div class="main__stories_news-news row">
            {% cache 13 mn %}
            {% for post in news %}
                <a  
                    href="{% url "specific_note" post.slug %}" 
                    class="main__stories_news-new new col">
                    <img class="row" src="{{ post.cover.url }}" alt="Image here">

                    <div class="story__body row">
                        <h4>{{ post.title }}</h4>
                    </div>
                </a>
            {% endfor %}
            {% endcache %}
        </div>
    </div>
    </div>

    <div class="main__stories_week_story" style="margin-bottom: 50px;">
        <h2>Рассказ недели</h2>
        <div style="margin-top: 30px; width: 60%;" class="week_read row">
            <a 
                href="{% url "specific_post" week_read.slug %}" 
                class="main__stories_new_stories-story story col">
                <img class="row" src="{{ week_read.get_cover }}" style="object-fit: cover" alt="Image here">

                <div class="story__body row">
                    <h4 style="word-break: break-all;">{{ week_read.title }}</h4>
                    <p>{{ week_read.description|truncatechars:"30" }}</p>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock main %}
