{% extends "base.html" %}

{% block title %}
Главная
{% endblock title %}


{% block main %}
<div class="main__stories">
    {% if not request.user.is_authenticated %}
        <p>
            Рады, что вы попали на наш сайт: вы сможете прочитать множество страшных рассказов
            от нашего сообщества и администрации, а также написать свою! Чтобы взаимодействовать с сайтом,
            <a href="{% url "register" %}">зарегестрируйтесь</a> или <a href="{% url "login" %}">войдите</a> в аккаунт.
        </p>
    {% endif %}

    <div class="main__stories_new_stories">
        <div class="main__stories_new_stories-header">
            <div class="header__title">
                <h2>Новинки</h2>
            </div>
            
            <div style="text-align: end;width: 100%;" class="header__link">
                <a href="{% url "read" %}">Все новинки →</a>
            </div>
        </div>
        
        <div class="main__stories_new_stories-stories row">
            
            {% for story in stories %}
                <a 
                    href="{% url "specific_post" story.slug %}" 
                    class="main__stories_new_stories-story story col">
                    <img class="row" src="{{ story.cover.url }}" alt="Image here">

                    <div class="story__body row">
                        <h3 style="word-break: break-all;">{{ story.title }}</h3>
                        <p>{{ story.description|truncatechars:"30" }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    
    <div class="main__stories_news">
        <div 
            class="man__stories_news-header">
            
            <div class="header__title">
                <h2 style="display: block; width: 100%;">Новости</h2>
            </div>

            <div style="text-align: end;width: 100%;" class="header__link">
               <a href="{% url "blog" %}">Перейти в блог →</a>
            </div>
            
        </div>

        <div class="main__stories_news-news row">
            {% for post in news %}
                <a  
                    href="{% url "specific_note" post.slug %}" 
                    class="main__stories_news-new new col">
                    <img class="row" src="{{ post.cover.url }}" alt="Image here">

                    <div class="story__body row">
                        <h3>{{ post.title }}</h3>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    </div>

    <div class="main__stories_day_story">
        <h2>Рассказ недели</h2>
    </div>
</div>


{% endblock main %}