{% extends "base.html" %}

{% block title %}
Главная
{% endblock title %}


{% block main %}
<div class="main__stories">
    {% if not request.user.is_authenticated %}
        <p>
            Рады, что вы попали на наш сайт: вы сможете прочитать множество страшных рассказов
            от нашего сообщества и администрации, а также написать свою! Чтобы взаимодействовать с сайтом,
            <a href="{% url "register" %}">зарегестрируйтесь</a> или <a href="{% url "login" %}">войдите</a> в аккаунт.
        </p>
    {% endif %}

    <div class="main__stories_new_stories">
        <h2>Новинки</h2>

        <div class="main__stories_new_stories-stories">
            {% for story in stories %}
                <a  style="display: block;" 
                    href="{% url "specific_post" story.slug %}" 
                    class="main__stories_new_stories-story post">
                    <h3>{{ story.title }}</h3>
                    <p>{{ story.description}}</p>
                </a>
            {% endfor %}
        </div>
    </div>
    
    <div class="main__stories_news">
        <h2>Новости</h2>
    </div>

    <div class="main__stories_day_story">
        <h2>Рассказ дня</h2>
    </div>
</div>


{% endblock main %}