{% extends "base.html" %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block main %}
<div class="current_post">
    <div class="current_post__header">
        <h1 class="current_post__header-title">
            {{ post.title }}
        </h1>
        <span class="current_post__header-author">
            <a href="{% url "profile" post.author.slug %}">{{ post.author.username }}</a>
        </span>
        <span class="current_post__header-pubdate">
            Дата публикации: {{ post.created_date }}
            {% if post.created_date != post.updated_date %}
            Последнее изменение: {{ post.updated_date }}
            {% endif %}
        </span>

        {% if request.user == post.author %}
            <a href="{% url "update_post" post.slug %}">Редактировать</a>
            <a href="{% url "delete_post" post.slug %}">Удалить</a>
        {% endif %}

        {% if request.user.is_authenticated %}
            {% if post not in request.user.favorites.all %}
                <form method="get">
                    <input type="hidden" name="is_favorite" value="fv">
                    <input type="submit" value="Добавить в избранное">
                </form>
            {% else %}
                <form method="get">
                    <input type="hidden" name="not_favorite" value="nfv">
                    <input type="submit" value="Удалить из избранного">
                </form>
            
            {% endif %}
        {% endif %}



        <p class="current_post__header-description">
            {{ post.description }}
        </p>
    </div>

    <div class="current_post__post">
        <p class="current_post__post-text">
            {{ post.text }}
        </p>
    </div>

    <div class="current_post__comments">
        <div class="crrent_post__send-comment">
            {% if request.user.is_authenticated %}
                <form method="post" class="current_post__comments-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Отправить">
                </form>
            {% else %}
                <h3>
                    <a href="{% url "login" %}">Войдите</a> или <a href="{% url "register" %}">зарегестрируйтесь</a>, чтобы оставлять комментарии
                </h3>
            {% endif %}

        </div>

        {% comment %} if comms {% endcomment %}
        {% if post.comments.all %} 

            {% for comment in post.comments.all %}
            
                <div class="current_post__comment">
                    <h3 class="current_post__comment-user">
                        {{ comment.user.username }}
                    </h3>
                    <span class="current_post__comment-pubdate">
                        {{ comment.date }}
                    </span>
                    <p class="current_post__comment-text">
                        {{ comment.comment }}
                    </p>
                    {% if request.user.is_authenticated %}
                        <a href="#">Ответить</a>                
                    {% endif %}
                </div>

            {% endfor %}

        {% else %}
            <h3>Тут еще нет комментариев... Будьте первыми, кто оценит работу!</h3>
        {% endif %}
    </div>
</div>
{% endblock main %}