{% extends "base.html" %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block main %}
<div class="current_post">
    <div class="current_post__header">
        <h1 class="current_post__header-title">
            {{ post.title }}
        </h1>
        {% if request.user == post.author %}
            <div class="current_post__header-edit">
                <a href="{% url "update_post" post.slug %}">Редактировать</a>
                <a href="{% url "delete_post" post.slug %}">Удалить</a>
            </div>
        {% endif %}

        
        <span class="current_post__header-pubdate">
            Дата публикации: {{ post.created_date }}
            {% if post.created_date != post.updated_date %}
            Последнее изменение: {{ post.updated_date }}
            {% endif %}
                <a class="current_post__header-author" 
                style="

                " 
                href="{% url "profile" post.author.slug %}">
                <img src="{{ post.author.avatar.url }}" alt="Avatar not found" style="border-radius: 100%; width: 40px; height: 40px; margin-right: 10px;">

                    {{ post.author.username }}
                </a>
        </span>

        {% if request.user.is_authenticated %}
            {% if post not in request.user.favorites.all %}
                <form method="get">
                    <input type="hidden" name="is_favorite" value="fv">
                    <input type="submit" value="Добавить в избранное">
                </form>
            {% else %}
                <form method="get">
                    <input type="hidden" name="not_favorite" value="nfv">
                    <input type="submit" value="Удалить из избранного">
                </form>
            
            {% endif %}
        {% endif %}


        <div style="padding: 25px; display: flex;  margin: 10px 0px;" class="current__post-hader-description">
            {% if post.cover %}
                <div style="background-image: url('{{post.cover.url}}'); width: 35%; height: 280px;"></div>
            {% endif %}
            <p style="padding: 25px; width: 65%;">
                {{ post.description }}
            </p>
        </div>
        
    </div>

    <div class="current_post__post">
        <p class="text current_post__post-text">
            {{ post.text }}
        </p>
    </div>

    <div style="margin-top: 50px;" class="current_post__comments">
        <h4>Комментарии</h4>
        
        <div class="crrent_post__send-comment">
            
            {% if request.user.is_authenticated %}
                <form method="post" class="current_post__comments-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Отправить">
                </form>
            {% else %}
                <p>
                    <a href="{% url "login" %}">Войдите</a> или <a href="{% url "register" %}">зарегестрируйтесь</a>, чтобы оставлять комментарии
                </p>
            {% endif %}

        </div>

        <div style="margin-top: 20px;" class="current_post__comments-comms">
            {% comment %} if comms {% endcomment %}
            {% if post.comments.all %} 

                {% for comment in post.comments.all %}
                
                    <div style="border: 2px dashed rgb(24, 17, 29); padding: 15px 45px; border-radius: 10px; margin-bottom: 30px; display: flex;" class="current_post__comment">
                        <div style="width: 60px; height: 60px; background-image: url('{{ comment.user.avatar.url }}'); background-size: cover; background-position: center; border-radius: 100%; margin-right: 15px; margin-top: 3px;" class="post__comment-image">

                        </div>
                        <div class="post__comment-content">
                         <span class="current_post__comment-user">
                            <a style="font-weight: 600; font-size: 18px; text-decoration: none;" href="{% url "profile" comment.user.slug %}" >{{ comment.user.username }}</a>
                            <span style="color: #827688;  font-size: 14px;" class="current_post__comment-pubdate">
                                {{ comment.date }}
                            </span>
                        </span>
                        
                        <p style="font-size: 18px;" class="current_post__comment-text">
                            {{ comment.comment }}
                        </p>
                        {% if request.user.is_authenticated %}
                            <a href="#">Ответить</a>                
                        {% endif %}
                       </div>
                    </div>

                {% endfor %}

            {% endif %}
        </div>

        
    </div>
</div>
{% endblock main %}
