{% extends "base.html" %}

{% block title %}
Поиск
{% endblock title %}

{% block main %}
<div class="read">
    <div class="read__header">
        <div class="read__header-search">
            <form method="get">
                
                {% if q %}
                    <input type="search" name="q" value="{{ q }}" placeholder="Поиск">
                {% else %}
                    <input type="search" name="q" placeholder="Поиск">
                {% endif %}
                <input type="submit" value="Искать!">
        </div>
    </div>
    <div class="read__body">
        
        <div class="read__body-posts">
            <p class="read__body-count">Всего найдено: {{ posts_cnt }}</p>
            
            {% for post in posts %}
                <a href="{% url "specific_post" post.slug %}" style="display: block; text-decoration: none;">
                    <div class="read__body-post">
                        <div class="read__post-img"></div>
                        <div class="read__post-content">
                            <h4>{{ post.title }}</h5>
                            
                            <p>{{ post.description|truncatechars:"50" }}</p>
                            <span>{{ post.author }} {{ post.created_date }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}

            {% with current_page=posts pages=pages url=url %}
                {% include "posts/pagination.html" %}
            {% endwith %}
        </div>

        <div class="read__body-filters">

                <div class="read__body-filters-cats">
                    <h3>Категории</h3>
                    <hr />
                    
                        {% for category in categories %}
                            <label for="{{ category.name }}">{{ category.name }}</label>
                            <input {% if category.name in url %} checked {% endif %}  type="checkbox" name="cat" value="{{ category.name }}" />
                            <br>
                        {% endfor %}

                </div>

                <div class="read__body-filters-tags">
                    <h3>Теги</h3>
                    <hr />
                    <p>В разработке...</p>
                </div>

                <input type="submit" value="Применить фильтры">
            </form>
        </div>
    </div>
</div>
{% endblock main %}