{% extends "base.html" %}

{% block title %}
Редактирование {{ post.title }}
{% endblock title %}

{% block header %}
    {{ form.media }}
{% endblock header %}

{% block main %}
<div class="post_editing">
    <div class="post_editing__header">
        <span class="post_editing__header-date">
            Дата создания: {{ post.created_date }}
        </span>

        <span class="post_editing__header-date">
            Последняя дата изменения: {{ post.updated_date }}
        </span>

        <span class="post_editing__header-author">
            Автор: {{ post.author }}
        </span>        
    </div>

    <div class="post_editing__form">
        <form method="post" class="post_editing__form-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Обновить">
        </form>

        
    </div>
</div>
{% endblock main %}
