{% extends "base.html" %}

{% block title %}
Блог
{% endblock title %}

{% block html %}
{% load cache %}
{% endblock html %}

{% block main %}
<div class="blog">
    {% cache 13 blogcache %}
    {% for news_post in news %}
        <a style="
        background-image: url('{{ news_post.cover.url }}')
        " href="{% url "specific_note" news_post.slug %}" class="blog__note">
        <div class="wrapper" style="">
            <div class="wrapper-content" style="" >
                
                <h3 class="blog__note-title">
                    {{ news_post.title }}
                </h3>
                <span class="blog__note-author">
                    {{ news_post.author }}
                </span>
                <span class="blog__note-time">
                    {{ news_post.pubdate }}
                </span>
            </div>     
            </div>
        </a> 
    {% endfor %}
    {% endcache %}
</div>
{% endblock main %}
