{% extends "base.html" %}

{% block title %}
{{ note.title }}
{% endblock title %}

{% block container_outer %}
     <div class="note__header" style="background-image: url('{{note.cover.url}}');" >
        <div class="note__header-wrapper">
            
            <div class="note__header-content">
                <h1 class="note__header-title">
                    {{ note.title }}
                </h1>

                <div class="note__header-info">
                    {% if note.author == request.user %}
                        <a href="{% url "edit_note" note.slug %}" class="note__header-editt">Изменить</a>
                        <a href="{% url "delete_note" note.slug %}" class="note__header-delete">Удалить</a>
                    {% endif %}

                    <a href="{% url "profile" note.author.slug %}" style="color: #ebebeb; margin-right: 6px;" class="note__header-author">
                        <img style="border-radius: 100%; width: 30px; height: 29px; margin-right: 5px;" src="{{ note.author.avatar.url }}" alt="Avatar">
                        {{ note.author }}
                    </a>

                    <span class="note__header-pubdate">
                        {{ note.pubdate }}
                    </span>
                </div>
            </div>

        </div>
    </div> 
{% endblock container_outer %}

{% block main %}
<div class="note">
    <div class="note__body">
        <p class="text note__body-text">
            {{ note.text }}
        </p>
    </div>
</div>
{% endblock main %}
