{% extends "base.html" %}

{% block title %}
Товары
{% endblock title %}

{% block main %}

<div class="products">
    {% for product in products %}
        <div class="product">
            <div style="background-image: url('{% if product.image %}{{ product.image.url }}{% else %}/static/defaults/avatar.png{% endif %}')" class="product__image"></div>
            <div class="product__description" >
                <h6>{{ product.name }}</h4>
                <p style="color: #ece6e6; font-size: 14px;">{{ product.description }}</p>
                <a href="#" class="link_purple">Купить</a>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock main %}