@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  outline: none;
  border: none;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(235, 235, 235);
  font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

a {
    text-decoration-style: dashed;
    text-decoration-thickness: 1.3px;
    color: #875ca7;
}

input[type=submit] {
    border: 1px solid #875ca7;
    color: #875ca7;
    background: none;
    border-radius:5px;
    padding: 5px 15px; 
}

input[type=submit]:hover {
    transition: .4s;
    background-color: #875ca7;
    color: rgb(235, 235, 235);
}

textarea {
  width: 100%;
  background-color: rgba(24, 17, 29, 0.8); 
  padding: 15px; 

  border-radius: 5px;
  resize: none;
  color: #827688;
}

body {
  background-color: #0c0213;
}

.link_purple {
  text-decoration: none;
  border: 1px solid #875ca7;
  padding: 5px 15px;
  color: #875ca7;
  border-radius: 5px;
}

.link_purple:hover {
    transition: .4s;
    background-color: #875ca7;
    color: rgb(235, 235, 235);
}

.text {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 4000;
  font-style: normal;
  font-size: 18px;
  overflow-wrap: anywhere;
  white-space: initial;
  max-width: 100%;
  font-variation-settings: "wdth" 100;
}

.text * {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  overflow-wrap: anywhere;
  white-space: initial;
  max-width: 100%;
  font-variation-settings: "wdth" 100;
}

.text strong {
  font-weight: 700;
}

.text i {
  font-style: italic;
}

.text ul {
  list-style: circle;
  list-style-type: circle;
}

.text ol {
  list-style-type: decimal;
}

/* MISC */
.def_input {
  background-color: #201924;
  color: #827688;
  border-radius: 5px;
  padding: 5px 10px;
}

.avatar_input {
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
}

.wrapper-avatar::before {
  content: "Изменить";
  position: relative;
  left: 25%;
  top: 40%;
}

.wrapper-avatar { 
  width: 100% ;
  height: 100%; 
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  cursor: pointer;
}

.wrapper-avatar:hover {
  opacity: 1;
}

.date_input{
  border: 1px dashed #875ca7;
  padding: 10px 20px;
  background-color: rgba(24, 17, 29, 0.8);
  color: #ebebeb;
  border-radius: 5px;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.date_input:focus {
  transition: .2s;
  border: 1px solid #875ca7;
    padding: 15px 25px;
}

p:has(.date_input) {
    display: flex;
    width: 55%;
    justify-content: space-between;
}

/* BASE */
header {
  background-color: #0c0213;
  height: 90px;
  margin-bottom: 30px;
}

ul a {
    text-decoration: none;
}

.header__navigation li {
  height: 90px;
  width: 100%;
}

.header__navigation a {
  display: block;
  height: 90px;
  line-height: 87px;
  color: rgb(226, 225, 225);
  text-align: center;
}


.header__navigation form input {
  height: 90px;
  width: 100%;
  border: none;
  background-color: #0c0213;
  color: rgb(235, 235, 235);
}

.header__navigation form input:hover {
  background-color: rgb(184, 71, 71);
  transition: 0.3s;
  border-radius: 0;
}

.header__navigation a:hover {
  background-color: rgb(235, 235, 235);
  color: black;
  transition: 0.3s;
}

.header__navigation ul {
  display: flex;
  justify-content: space-between;
}

/* MAIN */

.main__stories_new_stories-header, .man__stories_news-header {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.post {
    text-decoration: none;
}

.main__stories_new_stories-stories {
  margin-bottom: 30px;
  margin-top: 30px;
}

.main__stories_news-news {
  margin-top: 30px;
  margin-bottom: 30px;
}

.story {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 210px;
  margin-right: 10px;
  background-color: rgba(24, 17, 29, 0.8);
  border-radius: 10px;
}

.new {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 210px;
    margin-right: 10px;
    background-color: rgba(24, 17, 29, 0.8);
    border-radius: 10px;
}


.story:hover, .new:hover {
  transition: all .5s ease 0s;
  position: relative;
  bottom: 20px;
  background-color: rgba(223, 218, 226, 0.8); 
}


.story:hover * {
  color: rgba(24, 17, 29, 0.8);
}

.new:hover * {
    color: rgba(24, 17, 29, 0.8);
}

.story img, .new img {
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.story img {
  height: 260px;
  object-fit: cover;

}

.new img {
  height: 260px;  /* 60% */
  object-fit: cover;
}

.story__body {
  padding: 15px;
}

.story p {
  white-space: initial;
  overflow-wrap: break-word;
}

.story h3 {
  font-weight: 500;
}



/* PAGINATION */

.paginator {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.paginator__element {
  border: 1px solid #875ca7; 
  border-radius: 100%;
  text-decoration: none;
  padding: 7px 15px;
  margin-right: 13px;
}

.paginator__element-inactive {
  border: 1px solid rgb(235, 235, 235);
  color:rgb(235, 235, 235);
  padding: 7px 15px;
  margin-right: 13px;
  border-radius: 100%;
}

.paginator__element:hover {
  transition: .8s;
  color:rgb(235, 235, 235);
  border-radius: 100%;
  text-decoration: none;
  padding: 7px 15px;
  background-color: #875ca7;
}


/* READ */

.read__body-count {
  color: #827688;
}

.read__body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100%;
}

.read__body-posts {
  min-width: 70%;
}

.read__body-filters {
  min-width: 25%;
}

.read__body-post {
  background-color: rgba(24, 17, 29, 0.8);
  display: flex;
  margin-bottom: 30px;
  border-radius: 5px;
}

.read__post-img {
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 40%;
}

.read__post-content {
    padding: 30px 50px;
    width: 90%;
}


.read__body-post:hover {
  transition: .5s;
  background-color: rgba(223, 218, 226, 0.8); 
  margin-top: 60px;
  margin-bottom: 50px;
  cursor: pointer;

}

.read__body-post:hover .read__post-img div { 
  display: none;
}

.read__body-post:hover * {
  color: rgba(24, 17, 29, 0.8);
}

.read__body-filters hr {
  color: #875ca7;

}

.read__body-filters-cats {
  margin-bottom: 20px;
}

.read__body-filters-cats form input[type=submit] {
  margin-top: 20px;
}

.read__header-search {
  margin-bottom: 30px;
}

.read__header-search form {
  display: flex;
  justify-content: space-around;
}

.read__header-search input[type=search] {
  background-color: #201924;
  padding: 10px 25px;
  min-width: 85%;
  border-radius: 5px;
}

.read__header-search input[type=submit] {

  min-width: 10%;
}

/* PROFILE */

.profile {
  margin-top: 50px;
}

.profile__header {
  border-radius: 10px;
  background-color: rgba(24, 17, 29, 0.8);
  display: flex;
  max-width: 80%;
  margin: 0px auto;
  justify-content: space-evenly;
}

.profile__body {
  max-width: 80%;
  margin: 30px auto;
  display: flex;
  gap: 20px;
}

.profile__body-content, .profile__body-navigation {
  border-radius: 10px;
  background-color: rgba(24, 17, 29, 0.8);
}

.profile__body-content {
  padding: 20px;
  width: 80%;
}

.profile__body-navigation {
  width: 20%;
  height: 250px;
}

.profile__body-navigation ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;
}

.profile__body-navigation ul li {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
}

.profile__body-navigation a:hover {
  background-color: rgb(235, 235, 235);
  transition: 0.3s;
}

.profile__body-navigation a:hover li {
  color: rgba(24, 17, 29, 0.8);
}

.nav-link-f {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nav-link-l {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile__header-info {
  width: 70%;
  padding: 15px;
}

.profile__header-image {
  position: relative;
  bottom:35px;
  left: 2%;
  z-index: 2;
}

.profile__blog ul {
  padding: 0; 
  margin: 0;
}

.profile__blog-note {
  display: block;
  background-color: rgba(30, 23, 36, 0.8);
  padding: 10px 25px;
  color: rgb(235, 235, 235);
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 15px;
}

.profile__blog-note:hover {
  transition: .3s;
  background-color: rgb(235, 235, 235);
  color: rgba(30, 23, 36, 0.8);
}

.profile__blog-note:hover * {
    color: rgba(235, 235, 235);
}

/* PROFILE-OTHER */

.subscriptions__list-item {
  display: block;
  text-decoration: none;
  color: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 10px 5px;
  width: 50%;
  margin-top: 10px;
}

.subscriptions__list-item:hover {
  transition: .5s;
  background-color: rgba(175, 175, 175, 0.1);
}

.pag-prof_elem {
  border-radius: 100%;
  height: 18px;
  width: 18px;
  font-size: 11px;
  text-decoration: none;
  margin-right: 5px;
  color: rgba(235, 235, 235, 0);
  text-align: center;
  border: 1px solid rgb(235, 235, 235);
}

.pag-prof_elem:hover {
  transition: .3s;
    color: rgb(37, 34, 34);
  background-color: rgb(235, 235, 235);
}

.pag-prof_inac {
  margin-right: 5px;
  border-radius: 100%;
  font-size: 11px;
  text-decoration: none;
  color: rgb(37, 34, 34);
  text-align: center;
  height: 18px;
  width: 18px;
  background-color: rgb(235, 235, 235);
}

/* POST */

.current__post-hader-description div {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.current_post__header-author {
  display: block;

  border: 1px dashed rgb(42, 31, 49);
  max-width: 20%;
  padding: 7px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: rgb(223, 218, 226);
  border-radius: 7px;
  font-size: 17px;
}

.current_post__header-author:hover {
  transition: .3s;
  border: 1px solid rgba(135, 92, 167, 0.2);
  background-color: rgba(135, 92, 167, 0.2);
}

.post_create {
  display: flex;
  width: 100%;
  justify-content: center;
}

.post_create form {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post_create input[type=submit] {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post_create #id_description {
  height: 100%;
}

.post_create #id_cover {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.current__post-cover .wrapper::before {
  content: "Изменить";
  position:relative;
  left: 43%;
  font-size: 18px;
}

.current__post-cover .wrapper {
  opacity: 0;
}

.current__post-cover .wrapper:hover {
  opacity: 100;
}

.post_create_input {
  border: 2px dashed #473e4e;
  padding: 15px 35px;
  background-color: rgba(24, 17, 29, 0.8);
  color: #ebebeb;
  border-radius: 5px;
}

/* BLOG */



.blog__note {
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  height: 130px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin: 40px 0px;
  background-color: transparent;
  text-decoration: none;
}

.wrapper-content {
  width: 100%;
}

.blog__note:hover {
  transition: .3s;
  height: 190px;
  background-image: none !important;
  background-color: rgb(235, 235, 235) !important;
}

.blog__note:hover .wrapper-content * {
  color: #0c0213;
}

.dropdown-btn {
    background-color: #875ca7;
    cursor: pointer;
}

.filters-tags-content {
    display: none;
    position: absolute;
    min-width: 230px;
    z-index: 1;
    background-color: rgb(12, 2, 19);
    border: 1px solid #875ca7;
    border-radius: 10px;
    height: 270px;
    padding: 10px;
}

.filters-tags-content option {
    color: #ebebeb;    
    background-color: rgb(24, 17, 29, 0.8);
    padding: 6px;
    margin-top: 3px;
    font-size: 17px;
    border-radius: 2px;
}

.read__body-filters-tags:hover .filters-tags-content {
    display: block;
}



.wrapper {
  background-color: rgba(0, 0, 0, .3); 
  width: 100%; 
  height: 130px; 
  display: flex;
  padding: 20px;
  align-items: center;
}

.blog__note:hover .wrapper {
  background-color: rgba(0, 0, 0, 0);
}

.note__header {
  background-position: center;
  background-size: cover;
  height: 350px;
  width: 100%;

}

.note__header-wrapper {
  background-color: rgba(0, 0, 0, 0.6); 
  width: 100%; 
  height: 350px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.note__header-edit {
  background-color: rgb(24, 17, 29);
  height: 350px;
}

.note__header-edit .wrapper {
  opacity: 0;
    height: 350px;
}

.note__header-edit .wrapper::before {
  content: "Изменить";
  font-size: 18px;
  position: relative;
  left: 50%;
}

.note__header-edit .wrapper input {
  opacity: 0;
  width: 100%;
  height: 350px;
}

.note__header-edit .wrapper:hover {
  opacity: 1;
}



.note__header-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.note__header-info a {
  color: #875ca7;
}

.note__header-info * {
  margin-right: 15px;
  color: #ebebeb;
  text-decoration: none;
}

.note__header-author {
  border: 1px dashed #875ca7;
  margin-right: 5px;
  padding: 3px 5px;
  background-color: rgba(76, 52, 94, 0.5);
  border-radius: 10px;

}

.note__body {
  margin-top: 30px;
  max-width: 100%;
}

.note__body p {
  line-height: 33px;
}

/* REGISTER-LOGIN */

.register {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.register h2 {
  margin-bottom: 20px;
}

.register__container {
  width: 700px;
  padding: 30px 50px;
  border-radius: 20px;
  -webkit-box-shadow: -2px 3px 45px 11px rgba(135, 92, 167, 0.2);
  -moz-box-shadow: -2px 3px 45px 11px rgba(135, 92, 167, 0.2);
  box-shadow: -2px 3px 45px 11px rgba(135, 92, 167, 0.2);
  margin-bottom: 20px;
}

.register p input, .register p textarea {
  border: 1px dashed #875ca7;
  padding: 10px 20px;
  background-color: rgba(24, 17, 29, 0.8);
  color: #ebebeb;
  border-radius: 5px;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.register p textarea {
  height: 80px;
}

.register p input:focus, .register p textarea:focus {
  transition: .2s;
  border: 1px solid #875ca7;
    padding: 15px 25px;
}

.register p input::placeholder {
  color: #827688;
}

.errorlist {
  background-color: rgb(161, 93, 93, .5);
  border-radius: 5px;
  border: 1.5px solid rgb(214, 79, 79);
  padding: 5px 15px;
  
}

.errorlist li {
  color: rgb(214, 79, 79);
  font-size: 15px;
}

/* SHOP */

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}


.product {
  flex-basis: 250px;
  margin-top: 10px;
  -webkit-box-shadow: -2px 3px 45px 11px rgba(135, 92, 167, 0.2);
  -moz-box-shadow: -2px 3px 45px 11px rgba(135, 92, 167, 0.2);
  box-shadow: -2px 3px 45px 11px rgba(135, 92, 167, 0.2);
  border-radius: 10px;
  background-color: #0c0213;
}

.product__description {
    padding: 25px;
}

.product__image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}