<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} {% endblock title %}</title>
  <link rel="stylesheet" href="{% static "bootstrap/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "bootstrap/bootstrap-reboot.css" %}">
  <link rel="stylesheet" href="{% static "main.css" %}">
</head>

<body>
    <header> 
        <div class="container">
            <nav class="header__navigation">
              <ul class="navigation">
                <li class="header__navigation-item"><a href="{% url "main" %}">Главная</a></li>
                <li class="header__navigation-item"><a href="{% url "blog" %}">Блог</a></li>
                <li class="header__navigation-item"><a href="{% url "main" %}">Читать</a></li>
                <li class="header__navigation-item"><a href="{% url "main" %}">Магазин</a></li>
                
                {% if request.user.is_authenticated %}
                  <li class="header__navigation-item"><a href="{% url "profile" request.user.slug %}">{{ request.user.username }}</a></li>
                  <li class="header__navigation-item">
                      <form method="post" action="{% url "logout" %}"> {% csrf_token %} <input type="submit" value="Выход"> </form>
                </li>
                {% else %}
                  <li class="header__navigation-item"><a href="{% url "login" %}">Вход</a></li>
                  <li class="header__navigation-item"><a href="{% url "register" %}">Регистрация</a></li>
                {% endif %}
                
              </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            {% block main %}{% endblock main %}
        </div>
    </main>
    <footer>
        <div class="container">
            
        </div>
    </footer>
</body>
</html>
