{% extends "users/base.html" %}

{% block profile_title %}
Избранные {{ user.username }}
{% endblock profile_title %}

{% block profile_body %}

<div class="profile_favorites">

    {% if not favs %}
        <p class="profile_favorites__title" style="color: #827688;; font-style: italic;">
            У {{ user.username }} нет избранных...
        </p>
    {% else %}
        <ul>
            {% for f_post in favs %}
            <li>
                <a href="{% url "specific_post" f_post.slug %}"  class="profile__blog-note">
                    {{ f_post.title }}
                </a>
            </li>
            {% endfor %}
        </ul>

        {% with url=url current_page=favs pages=num_pages %}
            {% include "users/pagination.html" %}
        {% endwith %}
    {% endif %}
    
</div>

{% endblock profile_body %}