{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock title %}

{% block main %}
<div class="profile">
    <h1 class="profile__title">
        {{ user.username }}
    </h1>
    <span class="profile__regdate">
        на сайте с {{ user.create_date }}
    </span>

    <div class="profile__bio">
        <p class="profile__bio-text">
            {{ user.bio }}
        </p>
    </div>


    <a href="{% url "favs" user.slug %}">Избранное</a>
    {% if request.user == user %}
        <a href="{% url "create_post" %}">Создать историю</a>
        <a href="{% url "create_note" %}">Написать запись</a>
    {% endif %}

    <div class="profile__blog">
        {% if blog_notes %}
            <h3 class="profile__blog-title">
                Записи {{ user.username }}
            </h3>
            {% for note in blog_notes %}
            
                <a class="display: block;" 
                href="{% url "specific_note" note.slug %}" 
                class="profil__blog-note">
                    {{ note.title }}
                </a>

            {% endfor %}
        {% else %}
            <h3 class="profile__blog-title">
                {{ user.username }} пока не сделал ни одну запись
            </h3>
        {% endif %}

    </div>
</div>
{% endblock main %}