{% extends "users/base.html" %}

{% block profile_title %}{{ user.username }}{% endblock profile_title %}

{% block profile_body %}
    
    {% if request.user == user %}
        <div style="margin-bottom: 20px; display: flex; justify-content: space-between" class="profile__control">
             <a class="link_purple" href="{% url "create_post" %}">Создать историю</a>
            <a class="link_purple" href="{% url "create_note" %}">Написать запись</a>
        </div>
        <hr>
    {% endif %}
    
    <div class="profile__blog">
        <div class="profile__blog-bio">
            <p style="font-size: 15px; word-break: break-word; line-height: 1.8; align-text: justify; hyphens: auto;">{{ user.bio }}</p>
        </div>
        {% if blog_notes %}
            <ul>
                {% for note in blog_notes %}
                    <li>
                        <a class="profile__blog-note" 
                        href="{% url "specific_note" note.slug %}" 
                        class="profil__blog-note">
                            {{ note.title }} {% if note.is_news %} <span style="color: #bf97f5ff; font-size: 12px;">[Новость]</span> {% endif %}
                            <br>
                            {{ note.pubdate }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% with pages=pages url=url current_page=blog_notes %}
                {% include "users/pagination.html" %}
            {% endwith %}
        {% else %}
            <p style="color: #827688;; font-style: italic;">
                Пока что, тут пусто...
            </p>
        {% endif %}
    </div>
{% endblock profile_body %}
    