{% extends "users/base.html" %}

{% block profile_title %}
Истории {{ user }}
{% endblock profile_title %}

{% block profile_body %}
<div class="profile__stories">
    <ul style="margin: 0; padding: 0;">
        {% for story in stories %}
                <a href="{% url "specific_post" story.slug %}" class="profile__blog-note profile__stories-story">
                    {{ story.title }}
                    <br>
                        <span style="font-size: 13px;background-color: rgba(45, 33, 54, 0.8); border-radius: 4px; padding: 3px 5px;">{{ story.category.name}}: 
                        {% for tag in story.tags.all|slice:"0:3" %}
                            #{{ tag.name }} 
                        {% endfor %}
                        </span> 
                </a>
            </li>
        {% endfor %}
    </ul>

    {% with current_page=stories url=url pages=pages %}
        {% include "users/pagination.html" %}
    {% endwith %}
    
</div>
{% endblock profile_body %}

