{% extends "users/base.html" %}

{% block profile_title %}
Истории {{ user }}
{% endblock profile_title %}

{% block profile_body %}
<div class="profile__stories">
    <ul style="margin: 0; padding: 0;">
        {% for story in stories %}
            <li>
                <a href="{% url "specific_post" story.slug %}" class="profile__blog-note">
                    {{ story.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% with current_page=stories url=url pages=pages %}
        {% include "users/pagination.html" %}
    {% endwith %}
    
</div>
{% endblock profile_body %}

