{% extends "users/base.html" %}

{% block profile_title %}
Подписчики {{ user.username }}
{% endblock profile_title %}

{% block profile_body %}
<div class="profile__subscriptions">
    <div class="row row-cols-2 subscriptions__list">
        {% for s in subs %}
            <a href="{% url "profile" s.username %}" class="col subscriptions__list-item"> 
                <img src="{{ s.get_avatar }}" style="border-radius: 100%; width: 46px; height: 45px; margin-right: 10px;" alt="">
                <span>{{ s.username }}</span>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock profile_body %}
