{% extends "base.html" %}

{% block title %}
Редактирование профиля
{% endblock title %}

{% block main %}
<div class="profile">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="profile__header">
        <div class="profile__header-image" style="
                width: 150px; 
                height: 150px; 
                border-radius: 100%;
                background-image: url('{{user.get_avatar}}');
                background-size: cover;
                background-position: center;

            ">
            <div class="wrapper-avatar">
                {{ form.avatar }}
            </div>
        </div>

        <div class="profile__header-info">
            {{ form.username }}

            <span style="font-size: 14px;" class="profile__header-regdate">
                {{ form.birthday }}
            </span>

            <p style="margin-top: 5px;" class="profile__status-text">
                {{ form.status }}
            </p>

            <input type="submit" value="Сохранить">

            <a class="link_purple" href="{% url "us_delete" form.username.value %}">Удалить профиль</a>
            
        </div>

    </div>

    <div class="profile__body">
       <div class="profile__body-content">
            {{ form.bio }}
       </div>  

        <div class="profile__body-navigation">
            
        </div>
    </div>
        
    </form>
</div>
{% endblock main %}
