{% extends "base.html" %}

{% block title %}
Изменение пароля
{% endblock title %}

{% block main %}
<div class="image" style="height: 85vh; background-image: url('/static/defaults/key.png'); background-position: left; background-repeat: no-repeat; background-size: contain; display: flex; align-items: center; flex-direction: column; justify-content: center;">
    <div style="width: 100%;" class="info">
        <h1 style="margin-bottom: 30px;">Введите новый пароль</h1>
        <form method="post" style="">
            <input type="password" id="password" class="date_input" name="password" placeholder="Новый пароль">
            <br>
            <br>
            <input type="submit" value="Подтвердить">
        </form>
    </div> 
</div>
    
{% endblock main %}
