{% extends "base.html" %}

{% block title %}
Подтверждение почты
{% endblock title %}

{% block main %}
<div class="image" style="height: 85vh; background-image: url('/static/defaults/email.png'); background-position: left; background-repeat: no-repeat; background-size: contain; display: flex; align-items: center; flex-direction: column; justify-content: center;">
    <div style="width: 100%;" class="info">
        <h1>Письмо отправлено на почту!</h1>
        <p>{{ request.user.username}}, проверьте свою почту, которую вы указали при регистрации ({{ request.user.email}}) - на нее отправлено письмо с подтверждением.</p>
    </div> 
</div>
    
{% endblock main %}
